{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'partials/bootstrapheader.html' %}
    <title>Brain Tumor</title>
</head>

<style>
    .navbar {
        background-color: #1070B4;
        margin: 1rem 0;
        border-radius: 1.5rem;
    }

    .jumbotron {
        display: block;
        width: 100%;
        min-height: 100%;
        background: rgb(190, 222, 240);
        background: linear-gradient(326deg, rgba(190, 222, 240, 1) 0%, rgba(221, 237, 244, 1) 47%, rgba(245, 254, 255, 1) 100%);
        border-radius: 1.5rem;
        padding: 2rem;
    }

    .cancer-text {
        flex: 1;
    }
    .card-style{
        margin: 1rem;
        padding: 10px;
    }
    .breastcancer-form {
        flex: 1;
    }

    .breast-cancer-card {
        display: flex;
    }
    .model-title{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .line-vertical{
        width: 0;
        min-height: 100%;
        background-color: #1070B4;
        border: 3px solid #1070B4;
        border-radius: 2rem;
    }
</style>


<body>
    <div class="container parent-size pos-relative zero-pad" style="text-align: center;">
        {% include 'partials/nav.html' %}

        <div class="jumbotron">
            <div class=" container model-title">
                Breast Cancer Detection
            </div>
            <div class="breast-cancer-card">
                <div class="cancer-text card-style">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde animi voluptatum doloremque
                    dignissimos
                    distinctio adipisci, asperiores quas atque illum ad voluptate corporis ipsa dicta, quod accusantium.
                    Quod voluptas sint deserunt totam praesentium voluptatibus fuga, similique accusamus cupiditate
                    molestiae vero fugit possimus, laboriosam nisi optio sunt atque, architecto rem nam ea omnis laborum
                    minus! Asperiores exercitationem consequatur ipsa dolorem, perspiciatis impedit molestiae illo iure
                    doloremque, eos distinctio quibusdam provident eligendi maxime quo labore vero voluptatum cupiditate
                    ut
                   
                </div>
                <div class="line-vertical"></div>
                <div class="container breastcancer-form card-style">
                    <form action="predictCancer" method="POST" enctype="multipart/form-data">
                            <div class>
                                <label for="inputFeature1">Feature 1</label>
                                <div class="col-4">
                                    <input type="number" id="inputFeature1">
                                </div>
                            </div>
                            <div class>
                                <label for="inputFeature1">Feature 1</label>
                                <div class="col-4">
                                    <input type="number" id="inputFeature1">
                                </div>
                            </div>
                            <div class>
                                <button type="submit" class="col-9 btn btn-primary">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- <div class="container row g-0">
                <div class="col-md-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem rem eum, illo ipsam sit
                    adipisci. Cumque, expedita vero minima harum dolorem, quaerat, deserunt doloribus ducimus voluptas
                    ex nam voluptatem officiis.
                </div>
                <div class="col-md-7">
                    <div class="form-card">
                        <div class="breastcancer-form">
                            <form action="predictCancer" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                <form action="predictCancer" method="POST" enctype="multipart/form-data">
                                    <div class="input-group input-group-sm justify-content-center">
                                        <div class="row">
                                            <label for="inputFeature1" class="col-8 col-form-label">Feature 1</label>
                                            <div class="col-4">
                                                <input type="number" class="form-control" id="inputFeature1">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="inputFeature1" class="col-8 col-form-label">Feature 1</label>
                                            <div class="col-4">
                                                <input type="number" class="form-control" id="inputFeature1">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button type="submit" class="col-9 btn btn-primary">Sign in</button>
                                        </div>
                                    </div>
                                </form>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>



    <!-- <div class="custom-fiel-d">
                        <input id="fractal_dimension_worst" type="number" step="any" name="fractalDimensionWorst"
                            required>
                        <label for="fractal_dimension_worst" class="placeholder">Fractal Dimension worst </label>
                    </div>

                    <div class="submit-btn">
                        <input type="submit" class="btn btn-light" value="Submit">
                    </div> -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>