{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="App">
        {% include 'partials/nav.html' %}

        <div class='detect-tools'>
            <div class='breast-cancer card'>
                    <div class='card-image'>
                        <a href="{% url 'breastCancer' %}"><img src = "{% static 'images/breastcancer.gif' %}" alt="breastcancer"/></a>
                    </div>
            </div>
            <div class='liver-segmentation card'>
                    <div class='card-image'>
                        <a href="{% url 'liverSegment' %}"><img src = "{% static 'images/liver.gif' %}" alt="liver segmentation" /></a>
                    </div>
            </div>
         </div>
    </div>
</body>
</html>