{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'partials/bootstrapheader.html' %}
    <link rel="stylesheet" href="{% static 'css/breastcancer.css' %}">
    <title>Tumor Detection</title>
</head>
<style>
.prediction{
font-size: 1.2rem;
font-family: 'MavenPro-Bold';
}

.Malignant, .Benign{
    display: block;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.Malignant{
    color: #ef5a46;
}
.Benign{
    color: #6ab94f;
}
.breastcancer-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tumor-img{
    flex: 1;
}
.tumor-img img{
    width: 10rem;
}


</style>
<body>

    <div class="container parent-size pos-relative zero-pad" style="text-align: center;">
        {% include 'partials/nav.html' %}

        <div class="jumbotron">
            <div class=" container model-title">
                Brain Tumor Detection
            </div>
            <div class="breast-cancer-card">
                <div class="cancer-text card-style">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde animi voluptatum doloremque
                    dignissimos
                    distinctio adipisci, asperiores quas atque illum ad voluptate corporis ipsa dicta, quod accusantium.
                    Quod voluptas sint deserunt totam praesentium voluptatibus fuga, similique accusamus cupiditate
                    molestiae vero fugit possimus, laboriosam nisi optio sunt atque, architecto rem nam ea omnis laborum
                    minus! Asperiores exercitationem consequatur ipsa dolorem, perspiciatis impedit molestiae illo iure
                    doloremque, eos distinctio quibusdam provident eligendi maxime quo labore vero voluptatum cupiditate
                    ut

                </div>

                <div class="line-vertical"></div>

                <div class="container breastcancer-form card-style">
                    <div class="tumor-img">
                        <img src="media/{{ image.file }}" alt="uploaded image" />
                    </div>
                {%  if prediction == 1  %}
                        <div class="prediction" >The tumor is <span class="Malignant">DETECTED</span></div>
                {%  else %}
                        <div class="prediction">The tumor is <span class="Benign">NOT DETECTED</span></div>
                {%  endif %}
                </div>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>