





/* old css code */




/* .line {
  border-top: 1px solid rgb(20, 1, 1);
  width: 80vmin;
  margin-bottom: 2px;
}

.App {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    font-family: "notasans";
    background-color: rgb(228, 225, 225);
  }
  
  
  .App-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
  }
  .App-logo {
    width: 20vmin;
    border-radius: 50%;
  }
  
  .app-title{
    font-size: calc(var(--fontsmall)*2);
    font-weight: 600;
    color: var(--tertiary-green);
  }
  
  .detect-tools{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1vmin;
   margin: 5vmin;
  }
  
  .card-image img{
    border-radius: 20px;
    width: 60vmin;
    box-shadow: 0 4px 8px 0 rgba(53, 48, 48, 0.2);
    transition: 0.3s;
  }
 .card{
     margin-bottom: 20px;
 }

 .tool-title{
   margin: 5vmin 0;
   color: var(--tertiary-green);
   font-family: "notasans-bold";
   font-size: calc(var(--fontsmall)*1.5);
 } */