.navbar {
    background-color: #1070B4;
    margin: 1rem 0;
    border-radius: 1.5rem;
}

.jumbotron {
    display: block;
    width: 100%;
    min-height: 100%;
    background: rgb(190, 222, 240);
    background: linear-gradient(326deg, rgba(190, 222, 240, 1) 0%, rgba(221, 237, 244, 1) 47%, rgba(245, 254, 255, 1) 100%);
    border-radius: 1.5rem;
    padding: 2rem;
}

.breast-cancer-card,
.breast-cancer-card .card-style,
form,
.form-group {
    width: 100%;
}

.cancer-text {
    text-align: left;
    flex: 1;
}

.card-style {
    margin: 1rem;
    padding: 10px;

}

.breastcancer-form {
    flex: 1;
}

.breast-cancer-card {
    display: flex;
}

.model-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'MavenPro-Bold';
}

.line-vertical {
    width: 0;
    margin: 26px 0;
    min-height: 100%;
    background-color: #1070b431;
    border: 1px solid #1070b431;
    border-radius: 2rem;
}

.form-group {
    padding: 0;
    display: flex;
    flex-direction: column;
    border: none
}

.form-grp-inputs {
    width: 100%;
}

.input-group {
    margin: 0 0 1rem 0;
    display: flex;
}

.input-group span {
    text-align: right;
}

.input-group label {
    margin-right: 1rem;
    text-align: left;
    align-self: center;
    flex: 2;
}

.input-group input[type="number"] {
    width: 5rem;
    flex: 1;
    border: 2px solid #1070b400;
    outline: none;
    border-radius: 0.5rem;
}

.input-group input[type="number"]:focus {
    outline: none;
    border: 2px solid #1070b469;
    border-radius: 0.5rem;
}


.input-group input[type=number]::-webkit-inner-spin-button,
.input-group input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.form-btn {
    margin: 2.8rem 0;
}

.form-btn button {
    width: 100%;
    background-color: #1070B4;
}